header {
  background-image: url(../image/office-336368_1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

header .hed-span {
  background-color: #fd750e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hed-span span {
  padding: 5px 40px;
  color: white;
}

header .navbar {
  padding-top: 30px;
  padding-right: 50px;
}

header .navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  padding-left: 140px;
  color: white;
}

header .navbar .navbar-brand:hover {
  color: white;
}

header .navbar .collapse .navbar-nav {
  padding: 0px 80px;
}

header .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  margin: 0px 15px;
  color: white;
}

header .hero-section {
  padding-top: 180px;
  padding-left: 50px;
}

header .hero-section .data {
  padding-top: 50px;
  padding-left: 180px;
}

header .hero-section .data h2 {
  color: white;
  padding-bottom: 20px;
}

header .hero-section .data span {
  color: white;
  padding-left: 40px;
}

header .hero-section .item h6 {
  color: white;
  margin: 10px 20px;
}

header .hero-section .item .input1 {
  width: 50%;
  margin: 10px 20px;
  padding: 5px 0px;
  margin-top: 5px;
}

header .hero-section .item .input2 {
  width: 294px;
  margin: 10px 20px;
  padding: 5px 0px;
  margin-top: 5px;
}

header .hero-section .item button {
  background-color: #fd750e;
  padding: 5px 121px;
  border-radius: 0px;
  border-color: #fd750e;
  margin: 10px 20px;
}

header .hero-section .item span {
  color: white;
  margin: 10px 30px;
  padding: 5px 0px;
}

@media (max-width: 576px) {
  header {
    background-image: url(../image/office-336368_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    overflow: hidden;
  }
  header .navbar {
    padding-bottom: 0px;
  }
  header .navbar .navbar-brand {
    padding-left: 0px;
  }
  header .navbar .collapse .navbar-nav {
    padding: 0px;
  }
  header .navbar .collapse .navbar-nav .nav-item .nav-link {
    padding-left: 0px;
    padding-right: 0px;
  }
  header .hero-section {
    position: relative;
  }
  header .hero-section .data {
    padding-top: 0px;
    padding-left: 0px;
  }
  header .hero-section .data h2 {
    padding-bottom: 5px;
  }
  header .hero-section .data span {
    padding-left: 0px;
  }
  header .hero-section .item {
    padding-top: 20px;
    position: absolute;
    left: -20px;
    top: 400px;
  }
  header .hero-section .item h6 {
    padding-right: 0px;
  }
  header .hero-section .item .input1 {
    width: 295px;
  }
}

@media (min-width: 576px) {
  header {
    background-image: url(../image/office-336368_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    overflow: hidden;
  }
  header .navbar {
    padding-bottom: 0px;
  }
  header .navbar .navbar-brand {
    padding-left: 0px;
  }
  header .navbar .collapse .navbar-nav {
    padding: 0px;
  }
  header .navbar .collapse .navbar-nav .nav-item .nav-link {
    padding-left: 0px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 16px;
  }
  header .hero-section .data {
    padding-top: 0px;
    padding-left: 60px;
  }
  header .hero-section .data h2 {
    padding-bottom: 5px;
  }
  header .hero-section .data span {
    padding-left: 0px;
  }
  header .hero-section .item {
    padding-top: 80px;
  }
  header .hero-section .item h6 {
    padding-right: 0px;
  }
  header .hero-section .item .input1 {
    width: 295px;
  }
}

@media (min-width: 768px) {
  header {
    background-image: url(../image/office-336368_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
  header .hed-span {
    background-color: #fd750e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .hed-span span {
    padding: 5px 40px;
    color: white;
  }
  header .navbar {
    padding-top: 30px;
    padding-right: 50px;
  }
  header .navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    padding-left: 140px;
    color: white;
  }
  header .navbar .navbar-brand:hover {
    color: white;
  }
  header .navbar .collapse .navbar-nav {
    padding: 0px;
  }
  header .navbar .collapse .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    margin: 0px;
    color: white;
  }
  header .hero-section {
    padding-top: 180px;
    padding-left: 50px;
  }
  header .hero-section .data {
    padding-top: 90px;
    padding-left: 50px;
  }
  header .hero-section .data h2 {
    color: white;
    padding-bottom: 20px;
  }
  header .hero-section .data span {
    color: white;
    padding-left: 40px;
  }
  header .hero-section .item h6 {
    color: white;
    margin: 10px 20px;
  }
  header .hero-section .item .input1 {
    width: 294px;
    margin: 10px 20px;
    padding: 5px 0px;
    margin-top: 5px;
  }
  header .hero-section .item .input2 {
    width: 294px;
    margin: 10px 20px;
    padding: 5px 0px;
    margin-top: 5px;
  }
  header .hero-section .item button {
    background-color: #fd750e;
    padding: 5px 121px;
    border-radius: 0px;
    border-color: #fd750e;
    margin: 10px 20px;
  }
  header .hero-section .item span {
    color: white;
    margin: 10px 30px;
    padding: 5px 0px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  header {
    background-image: url(../image/office-336368_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }
  header .hed-span {
    background-color: #fd750e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .hed-span span {
    padding: 5px 40px;
    color: white;
  }
  header .navbar {
    padding-top: 30px;
    padding-right: 50px;
  }
  header .navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    padding-left: 140px;
    color: white;
  }
  header .navbar .navbar-brand:hover {
    color: white;
  }
  header .navbar .collapse .navbar-nav {
    padding: 0px 80px;
  }
  header .navbar .collapse .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    margin: 0px 15px;
    color: white;
  }
  header .hero-section {
    padding-top: 180px;
    padding-left: 50px;
  }
  header .hero-section .data {
    padding-top: 90px;
    padding-left: 180px;
  }
  header .hero-section .data h2 {
    color: white;
    padding-bottom: 20px;
  }
  header .hero-section .data span {
    color: white;
    padding-left: 40px;
  }
  header .hero-section .item h6 {
    color: white;
    margin: 10px 20px;
  }
  header .hero-section .item .input1 {
    width: 50%;
    margin: 10px 20px;
    padding: 5px 0px;
    margin-top: 5px;
  }
  header .hero-section .item .input2 {
    width: 294px;
    margin: 10px 20px;
    padding: 5px 0px;
    margin-top: 5px;
  }
  header .hero-section .item button {
    background-color: #fd750e;
    padding: 5px 121px;
    border-radius: 0px;
    border-color: #fd750e;
    margin: 10px 20px;
  }
  header .hero-section .item span {
    color: white;
    margin: 10px 30px;
    padding: 5px 0px;
  }
}

.data-inner h2 {
  color: #a19b9b;
  text-align: center;
  padding: 40px 0px;
}

.data-inner .item {
  padding-top: 30px;
  padding-left: 180px;
  padding-bottom: 60px;
}

.data-inner .item .div1 img {
  padding: 30px;
}

.data-inner .item .div1 p {
  color: #a19b9b;
}

.data-inner .item .div2 img {
  padding: 30px 20px;
}

.data-inner .item .div2 p {
  color: #a19b9b;
}

.data-inner .item .div3 img {
  padding: 30px 10px;
}

.data-inner .item .div3 p {
  color: #a19b9b;
}

@media (max-width: 576px) {
  .data-inner h2 {
    color: #a19b9b;
    text-align: center;
    padding: 40px 0px;
  }
  .data-inner .item {
    padding-top: 30px;
    padding-left: 70px;
    padding-bottom: 60px;
  }
  .data-inner .item .div1 img {
    padding: 30px;
  }
  .data-inner .item .div1 p {
    color: #a19b9b;
  }
  .data-inner .item .div2 img {
    padding: 30px 20px;
  }
  .data-inner .item .div2 p {
    color: #a19b9b;
  }
  .data-inner .item .div3 img {
    padding: 30px 10px;
  }
  .data-inner .item .div3 p {
    color: #a19b9b;
  }
}

@media (min-width: 576px) {
  .data-inner h2 {
    text-align: center;
  }
  .data-inner .item {
    padding-left: 250px;
  }
}

@media (min-width: 768px) {
  .data-inner {
    padding-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .data-inner h2 {
    color: #a19b9b;
    text-align: center;
    padding: 40px 0px;
  }
  .data-inner .item {
    padding-top: 30px;
    padding-left: 180px;
    padding-bottom: 60px;
  }
  .data-inner .item .div1 img {
    padding: 30px;
  }
  .data-inner .item .div1 p {
    color: #a19b9b;
  }
  .data-inner .item .div2 img {
    padding: 30px 20px;
  }
  .data-inner .item .div2 p {
    color: #a19b9b;
  }
  .data-inner .item .div3 img {
    padding: 30px 10px;
  }
  .data-inner .item .div3 p {
    color: #a19b9b;
  }
}

.Works {
  background-color: #f9f9f9;
  position: relative;
}

.Works h2 {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  color: #a19b9b;
}

.Works .data {
  width: 100%;
  padding: 60px 280px 150px 280px;
}

.Works .data .works-img1 {
  padding-right: 50px;
}

.Works .data .works-p p {
  color: #a19b9b;
  padding-left: 0px;
  padding-top: 30px;
}

.Works .data .works-img2 {
  padding-top: 100px;
  padding-left: 100px;
  z-index: 1;
}

.Works .data .works-img2 img {
  width: 100px;
  height: 100px;
}

.Works .data .works-img3 {
  padding-top: 100px;
  padding-left: 60px;
}

.Works .data .works-img3 img {
  width: 100px;
  height: 100px;
}

.Works .img-data {
  width: 40%;
  position: absolute;
  left: 500px;
  top: 300px;
  z-index: 0;
}

.Works button {
  padding: 5px 80px;
  margin: 0px 50px 80px 650px;
  color: white;
  background-color: #fd750e;
  border-radius: 0px;
  border-color: #fd750e;
}

@media (max-width: 576px) {
  .Works {
    overflow: hidden;
    position: relative;
    padding-bottom: 80px;
  }
  .Works .data {
    width: 80%;
    padding: 60px 0px 150px;
  }
  .Works .data .works-img1 {
    padding-left: 120px;
  }
  .Works .data .works-p p {
    padding-left: 120px;
    padding-top: 50px;
    font-size: 20px;
  }
  .Works .data .works-img2 {
    padding-top: 80px;
    padding-left: 120px;
  }
  .Works .data .works-img2 img {
    width: 150px;
    height: 150px;
  }
  .Works .data .works-img3 {
    padding-top: 80px;
    padding-left: 120px;
  }
  .Works .data .works-img3 img {
    width: 150px;
    height: 150px;
  }
  .Works .img-data {
    display: none;
  }
  .Works button {
    margin: 30px 40px 30px 80px;
    padding: 5px 60px;
  }
}

@media (min-width: 576px) {
  .Works {
    background-color: #f7f5f5;
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .Works .data {
    width: 100%;
    padding: 60px 0px 150px 0px;
  }
  .Works .data .works-img1 {
    padding-left: 160px;
  }
  .Works .data .works-p p {
    padding-left: 160px;
    padding-top: 50px;
    font-size: 20px;
  }
  .Works .data .works-img2 {
    padding-top: 100px;
    padding-left: 150px;
  }
  .Works .data .works-img2 img {
    width: 200px;
    height: 200px;
  }
  .Works .data .works-img3 {
    padding-top: 100px;
    padding-left: 150px;
  }
  .Works .data .works-img3 img {
    width: 200px;
    height: 200px;
  }
  .Works .img-data {
    display: none;
  }
  .Works button {
    margin: 30px 40px 50px 220px;
    padding: 10px 60px;
  }
}

@media (min-width: 768px) {
  .Works {
    background-color: #f7f5f5;
    position: relative;
    padding-bottom: 50px;
  }
  .Works .data {
    width: 100%;
    padding: 60px 0px 150px 0px;
  }
  .Works .data .works-img1 {
    padding-left: 80px;
  }
  .Works .data .works-p p {
    padding-left: 80px;
    padding-top: 50px;
    font-size: 20px;
  }
  .Works .data .works-img2 {
    padding-top: 100px;
    padding-left: 70px;
  }
  .Works .data .works-img2 img {
    width: 200px;
    height: 200px;
  }
  .Works .data .works-img3 {
    padding-top: 100px;
    padding-left: 70px;
  }
  .Works .data .works-img3 img {
    width: 200px;
    height: 200px;
  }
  .Works .img-data {
    display: none;
  }
  .Works button {
    margin: 30px 40px 50px 330px;
    padding: 10px 80px;
  }
}

@media (min-width: 992px) {
  .Works {
    background-color: #f7f5f5;
  }
  .Works h2 {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    color: #a19b9b;
  }
  .Works .data {
    position: relative;
    width: 100%;
    padding: 60px 280px 150px 280px;
  }
  .Works .data .works-img1 {
    position: absolute;
    left: 100px;
  }
  .Works .data .works-p p {
    color: #a19b9b;
    padding-left: 0px;
    padding-top: 40px;
  }
  .Works .data .works-img2 {
    padding-top: 130px;
    padding-left: 80px;
  }
  .Works .data .works-img2 img {
    width: 100px;
    height: 100px;
  }
  .Works .data .works-img3 {
    padding-top: 130px;
    padding-left: 80px;
  }
  .Works .data .works-img3 img {
    width: 100px;
    height: 100px;
    z-index: 1;
  }
  .Works .img-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    position: absolute;
    left: 480px;
    top: 300px;
    z-index: 0;
  }
  .Works button {
    padding: 5px 80px;
    margin: 0px 50px 80px 650px;
    color: white;
    background-color: #fd750e;
    border-radius: 0px;
    border-color: #fd750e;
  }
}

.Services {
  position: relative;
}

.Services h2 {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  color: #a19b9b;
}

.Services .img-Services {
  padding-left: 90px;
}

.Services .img-Services .img1 {
  position: relative;
}

.Services .img-Services .img1 img {
  width: 200px;
  height: 200px;
}

.Services .img-Services .img1 h5 {
  padding-left: 50px;
  color: red;
  position: absolute;
  top: 70px;
}

.Services .img-Services .img2 {
  position: relative;
}

.Services .img-Services .img2 img {
  width: 200px;
  height: 200px;
}

.Services .img-Services .img2 h5 {
  padding-left: 50px;
  color: red;
  position: absolute;
  top: 70px;
}

.Services .img-Services .img3 {
  position: relative;
}

.Services .img-Services .img3 img {
  width: 200px;
  height: 200px;
}

.Services .img-Services .img3 h5 {
  padding-left: 50px;
  color: red;
  position: absolute;
  top: 70px;
}

.Services .img-Services .img4 {
  position: relative;
}

.Services .img-Services .img4 img {
  width: 200px;
  height: 200px;
}

.Services .img-Services .img4 h5 {
  padding-left: 50px;
  color: red;
  position: absolute;
  top: 70px;
}

.Services button {
  padding: 5px 80px;
  margin: 80px 50px 80px 650px;
  color: white;
  background-color: #fd750e;
  border-radius: 0px;
  border-color: #fd750e;
}

@media (max-width: 576px) {
  .Services h2 {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    color: #a19b9b;
  }
  .Services .img-Services {
    padding-left: 90px;
  }
  .Services .img-Services .img1 {
    position: relative;
  }
  .Services .img-Services .img1 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img1 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img2 {
    position: relative;
  }
  .Services .img-Services .img2 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img2 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img3 {
    position: relative;
  }
  .Services .img-Services .img3 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img3 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img4 {
    position: relative;
  }
  .Services .img-Services .img4 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img4 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services button {
    padding: 5px 60px;
    margin: 80px 50px 80px 120px;
  }
}

@media (min-width: 576px) {
  .Services .img-Services {
    padding-left: 220px;
  }
  .Services .img-Services .img1 {
    position: relative;
  }
  .Services .img-Services .img1 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img1 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img2 {
    position: relative;
  }
  .Services .img-Services .img2 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img2 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img3 {
    position: relative;
  }
  .Services .img-Services .img3 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img3 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img4 {
    position: relative;
  }
  .Services .img-Services .img4 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img4 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services button {
    padding: 10px 100px;
    margin: 80px 50px 80px 200px;
  }
}

@media (min-width: 768px) {
  .Services .img-Services {
    padding-left: 170px;
  }
  .Services .img-Services .img1 {
    position: relative;
  }
  .Services .img-Services .img1 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img1 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img2 {
    position: relative;
  }
  .Services .img-Services .img2 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img2 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img3 {
    position: relative;
  }
  .Services .img-Services .img3 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img3 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img4 {
    position: relative;
  }
  .Services .img-Services .img4 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img4 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services button {
    padding: 10px 100px;
    margin: 80px 50px 80px 320px;
  }
}

@media (min-width: 992px) {
  .Services {
    position: relative;
  }
  .Services h2 {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    color: #a19b9b;
  }
  .Services .img-Services {
    padding-left: 170px;
  }
  .Services .img-Services .img1 {
    position: relative;
  }
  .Services .img-Services .img1 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img1 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img2 {
    position: relative;
  }
  .Services .img-Services .img2 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img2 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img3 {
    position: relative;
  }
  .Services .img-Services .img3 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img3 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services .img-Services .img4 {
    position: relative;
  }
  .Services .img-Services .img4 img {
    width: 200px;
    height: 200px;
  }
  .Services .img-Services .img4 h5 {
    padding-left: 50px;
    color: red;
    position: absolute;
    top: 70px;
  }
  .Services button {
    padding: 5px 100px;
    margin: 80px 50px 80px 650px;
    color: white;
    background-color: #fd750e;
    border-radius: 0px;
    border-color: #fd750e;
  }
}

.about-us {
  background-color: #f9f9f9;
  position: relative;
}

.about-us h2 {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  color: #a19b9b;
}

.about-us .data .div-1 {
  position: relative;
}

.about-us .data .div-1 img {
  position: absolute;
  top: 50px;
}

.about-us .data .div-1 p {
  padding-left: 120px;
  padding-top: 50px;
  color: #a19b9b;
  font-size: 14px;
}

.about-us .data .div-2 {
  position: relative;
}

.about-us .data .div-2 img {
  position: absolute;
  top: 50px;
}

.about-us .data .div-2 p {
  padding-left: 120px;
  padding-top: 50px;
  color: #a19b9b;
  font-size: 14px;
}

.about-us .data .div-3 {
  position: relative;
}

.about-us .data .div-3 img {
  position: absolute;
  top: 50px;
}

.about-us .data .div-3 p {
  padding-left: 120px;
  padding-top: 40px;
  color: #a19b9b;
  font-size: 14px;
}

.about-us .data .img-data {
  padding-top: 50px;
  position: absolute;
  right: 0px;
  width: 40%;
  z-index: 0;
}

.about-us .data .img-vedio {
  padding-top: 50px;
  position: absolute;
  right: 360px;
  top: 220px;
  z-index: 1;
}

.about-us button {
  padding: 5px 100px;
  margin: 100px 50px 80px 600px;
  color: white;
  background-color: #fd750e;
  border-radius: 0px;
  border-color: #fd750e;
}

@media (max-width: 576px) {
  .about-us {
    position: relative;
  }
  .about-us h2 {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    color: #a19b9b;
  }
  .about-us .data .img-data {
    width: 80%;
    padding-right: 50px;
    z-index: 0;
  }
  .about-us .data .img-vedio {
    width: 20%;
    position: absolute;
    top: 680px;
    left: 220px;
    z-index: 1;
  }
  .about-us button {
    padding: 5px 60px;
    margin: 300px 50px 80px 150px;
  }
}

@media (min-width: 576px) {
  .about-us {
    position: relative;
  }
  .about-us .data .img-data {
    width: 90%;
    padding-right: 50px;
    z-index: 0;
  }
  .about-us .data .img-vedio {
    position: absolute;
    top: 700px;
    left: 270px;
    z-index: 1;
  }
  .about-us button {
    padding: 8px 80px;
    margin: 370px 50px 80px 180px;
  }
}

@media (min-width: 768px) {
  .about-us {
    position: relative;
  }
  .about-us .data .img-data {
    width: 80%;
    padding-right: 50px;
    padding-top: 120px;
    position: absolute;
    left: 120px;
    z-index: 0;
  }
  .about-us .data .img-vedio {
    width: 15%;
    position: absolute;
    top: 670px;
    left: 350px;
    z-index: 1;
  }
  .about-us button {
    padding: 8px 80px;
    margin: 600px 50px 80px 360px;
  }
}

@media (min-width: 992px) {
  .about-us {
    position: relative;
    overflow: hidden;
  }
  .about-us h2 {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    color: #a19b9b;
  }
  .about-us .data .div-1 {
    position: relative;
  }
  .about-us .data .div-1 img {
    position: absolute;
    top: 50px;
  }
  .about-us .data .div-1 p {
    padding-left: 120px;
    padding-top: 50px;
    color: #a19b9b;
    font-size: 14px;
  }
  .about-us .data .div-2 {
    position: relative;
  }
  .about-us .data .div-2 img {
    position: absolute;
    top: 50px;
  }
  .about-us .data .div-2 p {
    padding-left: 120px;
    padding-top: 50px;
    color: #a19b9b;
    font-size: 14px;
  }
  .about-us .data .div-3 {
    position: relative;
  }
  .about-us .data .div-3 img {
    position: absolute;
    top: 50px;
  }
  .about-us .data .div-3 p {
    padding-left: 120px;
    padding-top: 40px;
    color: #a19b9b;
    font-size: 14px;
  }
  .about-us .data .img-data {
    padding-top: 50px;
    position: absolute;
    left: 800px;
    right: 0px;
    width: 40%;
    z-index: 0;
  }
  .about-us .data .img-vedio {
    padding-top: 50px;
    width: 10%;
    position: absolute;
    left: 1000px;
    top: 220px;
    z-index: 1;
  }
  .about-us button {
    padding: 5px 100px;
    margin: 100px 50px 80px 600px;
    color: white;
    background-color: #fd750e;
    border-radius: 0px;
    border-color: #fd750e;
  }
}

.Market-Watch {
  padding-bottom: 500px;
  position: relative;
}

.Market-Watch h2 {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  color: #a19b9b;
}

.Market-Watch .data-item {
  padding-top: 50px;
  padding-bottom: 60px;
  color: #a19b9b;
  width: 60%;
  position: absolute;
  left: 300px;
}

.Market-Watch .data-item .data {
  padding-bottom: 30px;
}

.Market-Watch .data-item .data span {
  color: #a19b9b;
  font-size: 12px;
}

.Market-Watch .data-item .data p {
  padding-top: 10px;
}

.Market-Watch .data-item .input h6 {
  padding: 0px;
}

.Market-Watch .data-item .input .input1 {
  color: #c2c2c2;
  margin: 10px 0px 0px;
}

.Market-Watch .data-item .input .input2 {
  color: #c2c2c2;
  margin: 10px 0px 0px;
}

.Market-Watch .data-item .input .input3 {
  color: #c2c2c2;
  margin: 10px 0px;
}

.Market-Watch .data-item .input button {
  padding: 5px 70px;
  color: white;
  background-color: #fd750e;
  border-radius: 0px;
  border-color: #fd750e;
}

.Market-Watch .data-item .item h6 {
  color: #1da1f2;
  padding-bottom: 10px;
}

@media (max-width: 576px) {
  .Market-Watch {
    padding-bottom: 1200px;
    position: relative;
  }
  .Market-Watch .data-item {
    padding-top: 50px;
    padding-bottom: 60px;
    color: #a19b9b;
    width: 60%;
    position: absolute;
    left: 50px;
  }
  .Market-Watch .data-item .input {
    padding-top: 30px;
  }
  .Market-Watch .item {
    padding-top: 60px;
  }
}

@media (min-width: 576px) {
  .Market-Watch {
    padding-bottom: 1100px;
    position: relative;
  }
  .Market-Watch .data-item {
    padding-top: 50px;
    padding-bottom: 60px;
    color: #a19b9b;
    width: 60%;
    position: absolute;
    left: 150px;
  }
  .Market-Watch .data-item .input {
    padding-top: 30px;
  }
  .Market-Watch .item {
    padding-top: 60px;
  }
}

@media (min-width: 768px) {
  .Market-Watch {
    padding-bottom: 900px;
    position: relative;
  }
  .Market-Watch .data-item {
    padding-top: 50px;
    padding-bottom: 60px;
    color: #a19b9b;
    width: 60%;
    position: absolute;
    left: 150px;
  }
  .Market-Watch .data-item .input {
    padding-left: 80px;
  }
  .Market-Watch .item {
    padding-top: 60px;
  }
}

@media (min-width: 992px) {
  .Market-Watch {
    padding-bottom: 700px;
    position: relative;
  }
  .Market-Watch .data-item {
    padding-top: 50px;
    padding-bottom: 60px;
    color: #a19b9b;
    width: 60%;
    position: absolute;
    left: 200px;
  }
  .Market-Watch .data-item .input {
    position: absolute;
    top: 20px;
    padding-left: 50px;
  }
  .Market-Watch .item {
    position: absolute;
    top: -10px;
    padding-top: 60px;
    padding-left: 80px;
  }
}

footer {
  background-color: #3d0d0d;
  padding: 50px 0px;
}

footer .fot1 h4 {
  font-size: 20px;
  color: white;
  padding: 10px 0px;
}

footer .fot1 p {
  color: #bcc1c4;
  padding-top: 10px;
}

footer .fot2 h4 {
  font-size: 20px;
  color: white;
  padding: 10px 0px;
}

footer .fot2 p {
  color: #bcc1c4;
  padding-top: 10px;
}

footer .fot3 h4 {
  font-size: 20px;
  color: white;
  padding: 10px 0px;
}

footer .fot3 p {
  color: #bcc1c4;
  padding-top: 10px;
}

footer .fot4 h4 {
  font-size: 20px;
  color: white;
  padding: 10px 0px;
}

footer .fot4 p {
  color: #bcc1c4;
  padding-top: 10px;
}

footer .fot5 h4 {
  font-size: 20px;
  color: white;
  padding: 10px 0px;
}

footer .fot5 p {
  color: #bcc1c4;
  padding-top: 10px;
}

footer .div2 img {
  display: block;
  color: white;
  padding: 20px 0px;
}

footer .div2 h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline;
  color: white;
  padding-right: 70px;
}

footer .div2 i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline;
  color: white;
  padding-right: 30px;
}

footer .div2 p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline;
  padding-left: 380px;
}

@media (max-width: 576px) {
  footer {
    background-color: #3d0d0d;
    padding: 50px 0px;
    overflow: hidden;
  }
  footer .fot5 h4 {
    text-align: center;
  }
  footer .fot5 p {
    text-align: center;
  }
  footer .fot5 img {
    padding-left: 50px;
  }
  footer .div2 h4 {
    padding-left: 50px;
  }
  footer .div2 p {
    display: none;
  }
}

@media (min-width: 576px) {
  footer {
    background-color: #3d0d0d;
    padding: 50px 0px;
    overflow: hidden;
  }
  footer .fot5 h4 {
    text-align: center;
  }
  footer .fot5 p {
    text-align: center;
  }
  footer .fot5 img {
    padding-left: 50px;
  }
  footer .div2 h4 {
    padding-left: 50px;
  }
  footer .div2 h4 p {
    display: none;
  }
}

@media (min-width: 768px) {
  footer {
    background-color: #3d0d0d;
    padding: 50px 0px;
    overflow: hidden;
  }
  footer .fot5 h4 {
    text-align: center;
  }
  footer .fot5 p {
    text-align: center;
  }
  footer .fot5 img {
    padding-left: 180px;
  }
  footer .div2 h4 {
    padding-left: 50px;
    padding-right: 300px;
  }
  footer .div2 p {
    display: none;
  }
}

@media (min-width: 992px) {
  footer {
    background-color: #3d0d0d;
    padding: 50px 0px;
  }
  footer .fot1 h4 {
    font-size: 20px;
    color: white;
    padding: 10px 0px;
  }
  footer .fot1 p {
    color: #bcc1c4;
    padding-top: 10px;
  }
  footer .fot2 pad
h4 {
    font-size: 20px;
    color: white;
    padding: 10px 0px;
  }
  footer .fot2 p {
    color: #bcc1c4;
    padding-top: 10px;
  }
  footer .fot3 h4 {
    font-size: 20px;
    color: white;
    padding: 10px 0px;
  }
  footer .fot3 p {
    color: #bcc1c4;
    padding-top: 10px;
  }
  footer .fot4 h4 {
    font-size: 20px;
    color: white;
    padding: 10px 0px;
  }
  footer .fot4 p {
    color: #bcc1c4;
    padding-top: 10px;
  }
  footer .fot5 h4 {
    font-size: 20px;
    color: white;
    padding: 10px 0px;
  }
  footer .fot5 p {
    color: #bcc1c4;
    padding-top: 10px;
  }
  footer .fot5 img {
    padding-left: 0px;
  }
  footer .div2 img {
    display: block;
    color: white;
    padding: 20px 0px;
  }
  footer .div2 h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    color: white;
    padding-right: 70px;
  }
  footer .div2 i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    color: white;
    padding-right: 30px;
  }
  footer .div2 p {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    padding-left: 360px;
  }
}
/*# sourceMappingURL=style.css.map */